This is the solution file for assignment given on 09May 2023

Question 1

In [19]:
a="Subash"

In [2]:
b=[1,2,3,"Subash"]

In [3]:
c=1.267

In [4]:
d=(1,2,"subash")

Answer: Have created 4 variable as requested in the question

---------------------------------------------------------------------------------------

Question 2

In [12]:
var1 = ""
var2 = "[ DS , ML , Python]"
var3 = [ "DS" , "ML" , "Python" ]
var4 = 1

In [15]:
type(var1)

str

In [16]:
type(var2)

str

In [17]:
type(var3)

list

In [18]:
type(var4)

int

Answer: var1 is str, var2 is str, var3 is list, var4 is int

---------------------------------------------------------------------------------------

Question 3

Explain the use of the following operators using an example: / % // **

Answer:
/ -> Division operator - Output is Quotient
% -> Modulus Operator - Output is denominator
// -> Floor Division - Floor the Quotient
** -> Power Operator

---------------------------------------------------------------------------------------

Question 4

Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [ ]:
l=[1,2,3,"Subash",1+1j,True,False,8,9,10]
for i in l:
    print(i)
    print(type(i))

1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
Subash
<class 'str'>
(1+1j)
<class 'complex'>
True
<class 'bool'>
False
<class 'bool'>
8
<class 'int'>
9
<class 'int'>
10
<class 'int'>

Answer: Created a list with length 10. Printed the elements and it's datatype as well

------------------------------------------------------------------------------------------

Question 5

Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [24]:
a=int(input())
b=int(input())
while a%b==0:
    print(a,"is purely divisible by",b)
    print(a/b)
    break

 10
 5

10 is purely divisible by 5
2.0

Answer: Using a while loop, verified if the number A is purely divisible by number B and shown how many
times it can be divisible.

--------------------------------------------------------------------------------------------

Question 6

Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [27]:
l=list(range(25))
print(l)
for i in l:
    if i%3 == 0:
        print(i,"is divisible by 3")
    else:
        print(i,"is not divisible by 3")

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]
0 is divisible by 3
1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3

Answer: Created a list containing 25 int type data. Using for loop and if-else condition printed if the element is divisible by 3 or not.

----------------------------------------------------------------------------------------------

Question 7

What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [29]:
a=[1,2,3,"Subash"]

In [31]:
a[1]

2

In [32]:
a[1]=4

In [33]:
a[1]

4

In [34]:
a="Subash"
a

'Subash'

In [35]:
a[1]

'u'

In [36]:
a[1] = 'a'

TypeError: 'str' object does not support item assignment

Answer: 
Mutable means elements within the variable can be changed - Ex: a[1] in list a
Immutable means elements within the variable cannot be changed - Ex: a[1] in string a

----------------------------------------------------------------------------------------